.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  
  min-height: 100svh;
  padding: 3vw;
  font-family: var(--font-geist-sans);
}

.box{
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.653);
  padding: 2vw 3vw;
}

.boxHeader{
  margin-bottom: 32px;
}

.boxContent{
  height: 75%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.boxSection{
  width: 50%;
}

.boxSection p {
  margin-bottom: 12px;
}

.box h1{
  font-size: 3rem;
  margin-bottom: 0px;
}

.box h2{
  font-size: 2rem;
  margin-bottom: 0px;
}

.box h3{
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.box p{
  font-size: 1.5rem;
  font-weight: 300;
}

.box a{
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .box{
    padding: 5vw 6vw;
  }

  .boxHeader{
    text-align: center;
    margin-bottom: 28px;
  }

  .box h1{
    font-size: 2rem;
  }

  .box h2{
    font-size: 1.7rem;
  }

  .box h3{
    font-size: 1.5rem;
  }

  .box p{
    font-size: 1.2rem;
  }

  .box a{
    font-size: 1.2rem;
  }

  .boxSection{
    width: 100%;
  }

  .boxContent{
    flex-direction: column;
  }

}


