.labelText{
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 10px;
}

.input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 25px;
    font-size: 16px;
    outline: none;
}